@media (min-width: 800px) {
  nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-right: 2.5%;
  }
  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: -2.5%;
  }

  nav li a {
    margin-right: 50px;
    margin-left: 50px;
    color: black;
    font-size: 25px;
    text-decoration: none;
  }
  .back {
    margin-left: 1%;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: blue;
    font-style: italic;
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1.5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 2.25em;
    display: grid;
    font-size: 30px;
    margin-top: 15%;
  }
  p a {
    text-decoration: none;
    color: black;
  }
  p:hover {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.289);
  }
  p a:hover {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.289);
  }

  .p1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
  }
  .p2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
  .g_w {
    margin-right: 20%;
    margin-left: 10%;
  }
  .g_u {
    margin-left: 10%;
  }
  .g_a {
    margin-right: 20%;
    margin-left: -10%;
  }
  .p_e {
    margin-left: 10%;
    margin-right: -10%;
    font-size: 32px;
  }

  .second {
    font-weight: lighter;
  }
  .grid_1 {
    grid-template-columns: 1fr 1fr;
  }
  .grid_2 {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 3%;
    font-size: 12px;
  }

  footer ul {
    list-style: none;
    line-height: 1.25em;
    justify-content: end;
    display: grid;
    text-align: right;
  }
  .ilk {
    font-weight: lighter;
  }
}
@media (max-width: 800px) {
  nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.952);
    padding-bottom: 0.01em;
  }
  nav ul {
    list-style: none;
    margin-top: -2.5%;
  }

  nav li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-bottom: 1.5%;
  }
  .back {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
  }
  a:hover {
    color: blue;
    font-style: italic;
  }
  body {
    background-image: url(../imgs/mywork_bg.png);
    background-size: contain;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1.5px solid black;
    text-align: center;
    padding: 1.5em;
    display: grid;
    font-size: 24px;
    margin: 8%;
  }
  p a {
    text-decoration: none;
    color: black;
  }
  p a:hover {
    font-size: 26px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.289);
  }
  .second {
    font-weight: lighter;
  }
  footer {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 9%;
    font-size: 12px;
  }

  footer ul {
    list-style: none;
    line-height: 1.25em;
    justify-content: end;
    display: grid;
    text-align: right;
  }
  .ilk {
    font-weight: lighter;
  }
}
