@media (min-width: 800px) {
  nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-right: 2.5%;
  }
  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
  }

  nav li a {
    margin-right: 50px;
    margin-left: 50px;
    color: black;
    font-size: 25px;
    text-decoration: none;
  }

  a:hover {
    color: blue;
    font-style: italic;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250px;
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 5%;
  }

  .port {
    margin-bottom: -60px;
  }

  .folio {
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 160px;
  }

  .slide_left {
    width: 100%;
    overflow: hidden;
  }
  .slide_left {
    animation: slide_left 3s;
    animation-iteration-count: 1;
  }

  @keyframes slide_left {
    from {
      margin-left: 100%;
      width: 500%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  footer {
    margin-top: -6%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 1%;
    font-size: 15px;
  }
  footer ul {
    list-style: none;
    line-height: 1.25em;
    justify-content: end;
    display: grid;
    text-align: right;
  }
  .ilk {
    font-weight: lighter;
  }
}
@media (max-width: 800px) {
  nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-right: 2.5%;
  }
  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
  }

  nav li a {
    margin-right: 20px;
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
  }
  .folio {
    margin-top: -5%;
    margin-left: 20%;
  }

  a:hover {
    color: blue;
    font-style: italic;
  }
  .slide_left {
    width: 100%;
    overflow: hidden;
  }
  .slide_left {
    animation: slide_left 3s;
    animation-iteration-count: 1;
  }

  @keyframes slide_left {
    from {
      margin-left: 100%;
      width: 500%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  footer {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
  }
  footer ul {
    list-style: none;
    line-height: 1.25em;
    justify-content: end;
    display: grid;
    text-align: right;
  }
  .ilk {
    font-weight: lighter;
  }
}
