@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0cm;
  }

  .grid_1-1 > #col {
    grid-column: 1/2;
    grid-row: 1;
  }

  .grid_1-1 > #col2 {
    grid-column: 2/3;
    grid-row: 1;
  }

  #H1TI {
    margin-bottom: 0.5em;
    margin-top: -0.25em;
  }
  .grid_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0em;
  }
  .blink {
    grid-column: 2/4;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
