.fald {
  animation-name: fald_ned;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes fald_ned {
  0% {
    translate: 0 -300%;
  }
  100% {
    translate: 0 800%;
  }
}

.forsvind {
  animation-name: forsvind_kf;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes forsvind_kf {
  0% {
    scale: 200%;
  }
  100% {
    scale: 0%;
  }
}
.flasketimer {
  animation-name: flasketimer_kf;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes flasketimer_kf {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(10% 0 0 0);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
