main {
  margin: 0;
}
@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    padding-right: 3cm;
    padding-right: 1cm;
    text-align: center;
  }
  footer > ul {
    list-style: none;
    display: grid;
    justify-content: space-between;

    padding-right: 3cm;
    padding-right: 1cm;
    text-align: left;
    gap: 0.5em;
  }
  .grid_00 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1cm;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1cm;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1cm;
  }
  .grid_1-1 img {
    grid-column: 1/2;
    grid-row: 1 / span 8;
  }

  .grid_1-1 h2 {
    grid-column: 2/3;
  }
  .grid_1-1 p {
    grid-column: 2/3;
  }
  .grid_1-1 dl {
    grid-column: 2/3;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5cm;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 2em;
  }
  .order {
    order: -1;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2em;
    margin-top: 1cm;
  }
  .flex_col {
    display: flex;
    flex-direction: column;
  }

  .flex_col img:last-child {
    margin-top: auto;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
  }

  #img_1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  #img_2 {
    grid-column: span 1;
  }
  #img_3 {
    grid-column: span 1;
  }
  #img_4 {
    grid-column: span 2;
  }
  #img_5 {
    grid-column: span 1;
  }
  #img_6 {
    grid-column: span 3;
  }
}
